@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .mo-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}

.dropdown{
    background-color: #00000080;
  }